<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<!--    <test verbose="2" preserve-order="true" name="C:/Users/parth.ramani/IdeaProjects/java_course/src/main/java/org/example">-->
    <test name="configuration annotation Test">
    <classes>
            <class name="demo">
                <methods>
                    <include name="openChrome"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="second test">
        <classes>
            <class name="demo">
                <methods>
                    <include name="setUp"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>

